body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right top, #65dfc9, #65dbeb);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background: white;
  width: 40%;
  min-height: 60vh;

  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#calculator {
  display: flex;
  flex-flow: row;
  color: #353ebe;
  justify-content: space-between;
  opacity: 0.8;
}
#calculator input {
  border: none;
  border-radius: 2rem;
}

#about p {
  max-width: 500px;
  font-style: italic;
  padding-top: 20px;
}
